.mat-form-field {
  width: 100%;
  height: 50px;
  &.mat-focused {
    .mat-form-field-ripple {
      background-color: $primary-text-color;
    }
    .mat-form-field-label {
      color: $primary-text-color;
    }
  }
}
.mat-form-field-label {
  padding: 0 10px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 40px;
}
.mat-input-element {
  caret-color: $primary-text-color;
}
.mat-calendar-body-selected {
  background-color: $primary-color;
}

.mat-datepicker-toggle-active {
  color: $primary-text-color;
}


