$primary-color: #94c640;
$secondary-color: #4b4b4b;

/*COLORS*/
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #888888;

/*FONTS*/
$regular-font: 'montserrat-regular';
$regular-medium: 'montserrat-medium';
$regular-bold: 'montserrat-bold';

/*TEXT*/
$primary-text-color: $gray-color;

/*TRANSITION*/
$transition: all 300ms ease-in-out;

/*BORDER*/
$border-color: $gray-color;

/*BOX SHADOW*/
$box-shadow: 4px 5px 10px 5px rgba($gray-color, 0.1);