.users {
  display: flex;

  &__list {
    width: 40%;
  }

  &__info {
    ul {
      li {
        font-family: $font-medium;
        color: $primary-color;
        font-size: $text-sm;
        margin-bottom: 15px;
        ul {
          li {
            font-family: $font-regular;
            color: $primary-text-color;
            margin: 5px 0 10px;
            border-bottom: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  &__graph {
    width: 60%;
    padding-left: 50px;
  }
}

.graph {
  background-color: rgba($primary-color, 0.1);
  height: 100%;
}

.filter {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;

  &__label {
    margin-right: 10px;
  }

  &__action {

    ul {
      display: flex;
      li {
        cursor: pointer;
        transition: $transition;
        &:first-child {
          margin-right: 10px;
        }

        &.active {
          cursor: default;
          color: $primary-color;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
