.wrapper {
  width: 100%;
  background-color: #f0f8ff;
}

.main-container {
  width: 100%;
  padding: 50px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}

@import "header";
@import "side-bar";
@import "content";
@import "users";
@import "graph";
