<div class="users__list">
  <div class="filter">
    <div class="filter__label">Sort date by:</div>
    <div class="filter__action">
      <ul>
        <li (click)="onClick('new')" [ngClass]="{active: isSortedBy === 'new'}">
          Newest:
          <i class="fa fa-arrow-circle-up"></i>
        </li>
        <li  (click)="onClick('old')" [ngClass]="{active: isSortedBy === 'old'}">
          Oldest:
          <i class="fa fa-arrow-circle-down"></i>
        </li>
      </ul>

    </div>
  </div>
  <div class="accordion">
    <ul>
      <li *ngFor="let visitor of (visitorsService.visitors$ | async)">
        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>

              <mat-panel-title>
                {{visitor.name}}
              </mat-panel-title>

              <mat-panel-description>
                ID: {{visitor.id}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="users__info">
              <ul>
                <li>User info:
                  <ul>
                    <li><span>Name:</span> {{visitor.name}}</li>
                    <li><span>Shopping Id: </span>{{visitor.steps[0][0].idShopCart}}</li>
                  </ul>
                </li>
                <li>
                  Abandoned at:
                  <ul>
                    <li><span>Days passed:</span> 7 days</li>
                    <li><span>Date:</span> 2020-01-07</li>
                    <li><span>Time:</span> 17:43:20</li>
                  </ul>
                </li>
                <li>
                  Steps reached:
                  <ul>
                    <li>Filter</li>
                    <li>Dont know</li>
                  </ul>
                </li>
              </ul>
            </div>

          </mat-expansion-panel>

        </mat-accordion>
      </li>
    </ul>

  </div>


</div>
