<div class="users">
    <div class="users__list">
        <div class="filter">
            <div class="filter__label">Sort date by:</div>
            <div class="filter__opt">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        user name:
                    </mat-panel-title>
                    <mat-panel-description>
                        user description goes here
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="users__graph"></div>
</div>
