<div class="side-bar">
    <ul class="side-bar__list">
        <li class="side-bar__item active">
            <a routerLink="/users">
              <span>Users</span>
            </a>
            <span class="side-bar__sep"></span>
        </li>
        <li class="side-bar__item">
          <a routerLink="/user-filter">
            <span>User filter</span>
          </a>
            <span class="side-bar__sep"></span>
        </li>
        <li class="side-bar__item">
          <a routerLink="/users">
            <span>Users</span>
          </a>
            <span class="side-bar__sep"></span>
        </li>
    </ul>
</div>

