* {
  box-sizing: border-box;
}

body {
  font-family: $regular-font;
  font-size: 14px;
}

body, html, p, span, ul, li, a, div, section, nav {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: initial;
  }
}