<p>
    Subject Line: New [Lead magnet type]) [Lead magnet name]
</p>
<p>
    Body:
    Hi there [Name],
</p>
<p>
    I’m emailing you today to let you know we have created a new [lead magnet type] called [lead magnet name].
    In this [lead magnet type], you’ll learn how to create [describe what your lead magnet covers in 2 to 3 sentences].
    [Link]Click here to access the [lead magnet name] ⇒[Link]
</p>
<p>
    If you know anybody else who’ll find this useful, please forward the email to them.
</p>
<p>
    Thank you,
    [Your signature]
</p>