<p>
    Subject Line: Here’s your free [lead magnet type]
</p>
<p>
    Body:

    Hi [Name],
</p>
<p>
    I’m so glad you signed up for the [lead magnet name].
</p>
<p>
    In this [lead magnet type], you’ll learn [describe what they will learn in the lead magnet].

    [Link]Click Here to Gain Immediate access to [lead magnet name] ⇒[Link]
</p>
<p>
    If you’re unable to access it, just reply to this email and let me know. I will sort it out for you ASAP.

    And if you need help with [a service you offer related to the lead magnet], please check out this page [link to your services landing page].

    I have helped several people with this. Here’s a link to a case study [link to a case study].
</p>
<p>
    Thank you,

    [Your signature]
</p>